name: " GitHub Actions Bot "
on:
    push:
        branches: ['main']
    schedule:
    - cron: "0 0 * * *"
    workflow_dispatch:

jobs:
  cronJob:
    name: "Update data"
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
            node-version: 18.x
      - run: npm ci
      - run: git pull
      - run: node gs2.js
      - run: node totsv.js
      - run: |
            git config user.name  "xatta-trone"
            git config user.email "22274105+actions-user@users.noreply.github.com"
            git add -f 'scholar-data-qK-YgxAAAAAJ.json'
            git commit -m " Auto commit by Gihub Actions Bot "
            git push --force